@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<h4>@(ViewBag.ViewBagMessage ?? "No ViewBag message.")</h4>
<h4>@(ViewData.ContainsKey("ViewDataMessage") ? ViewData["ViewDataMessage"] : "No ViewData message.")</h4>
<h4>@(TempData.ContainsKey("TempDataMessage") ? TempData["TempDataMessage"] : "No TempData message.")</h4>

