
<h2>Upload Files.</h2>

<form method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file" class="col-md-2 control-label">Files:</label>
        <div class="col-md-10">
            <input type="file" name="files" class="form-control" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Upload files</button>
        </div>
    </div>
</form>
